<header class="glass-header">
  <div class="logo">
    <a routerLink="/" class="logo-link" (click)="closeMenu()">
      <mat-icon class="logo-icon">work</mat-icon>
      <span class="premium-title logo-title">ATS Premium</span>
    </a>
  </div>

  <button class="mobile-menu-btn" (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>

  <div class="nav-links" [class.menu-open]="isMenuOpen">
    <a routerLink="/vagas" class="nav-item" (click)="closeMenu()">Portal de Vagas</a>

    <ng-container *ngIf="authService.isLoggedIn | async; else notLogged">
      <a *ngIf="authService.getUserRole() === 'Admin'" routerLink="/admin" class="nav-item recruiter-btn" (click)="closeMenu()">Painel Admin</a>
      <a *ngIf="authService.getUserRole() === 'Recrutador'" routerLink="/dashboard" class="nav-item recruiter-btn" (click)="closeMenu()">Área do Recrutador</a>
      <a *ngIf="authService.getUserRole() === 'Candidato'" routerLink="/candidato" class="nav-item recruiter-btn" (click)="closeMenu()">Meu Currículo</a>
      <a (click)="logout()" class="nav-item logout-btn" style="cursor: pointer;">Sair</a>
    </ng-container>
    
    <ng-template #notLogged>
      <a routerLink="/login" class="nav-item login-btn" (click)="closeMenu()">Entrar</a>
    </ng-template>
  </div>
</header>
<main class="main-content">
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</main>
